<div #entity_display>
  <mat-card class="mc-1">
    <mat-card-header class="mch-1">
      <mat-card-title >Parameter List</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mcc-1 ">
      <div class="tab-div1">
        <table mat-table [dataSource]="entityList" class="mat-elevation-z8 demo-table">
         
          <ng-container matColumnDef="entityName" >
            <th mat-header-cell *matHeaderCellDef  class="">
              <mat-checkbox #selectAllCB class="mcb-1" (click)="onSelectAll()"></mat-checkbox>
              <p style="margin-left: 62px;">Name</p>
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox #checkboxes class="mcb-2" (click)="onSelectIndividual(element.entityName)"></mat-checkbox>
              {{element.entityName}}
            </td>
          </ng-container>
          <ng-container matColumnDef="entityDataType"  >
            <th mat-header-cell *matHeaderCellDef>
              <p>DataType</p>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.entityDataType}} </td>
          </ng-container>

          <ng-container matColumnDef="entityNullable"  >
            <th mat-header-cell *matHeaderCellDef>
              <p>Nullable</p>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.entityNullable}} </td>
          </ng-container>

          <ng-container matColumnDef="validators"  >
            <th mat-header-cell *matHeaderCellDef>
              <p>Validators</p>
            </th>
            <td 
              mat-cell 
              matTooltip="{{desc}}"
              matTooltipClass="my-tooltip"
              *matCellDef="let element; let i = index"
              (mouseover)="onMouseOver(i)"
              > {{element.entityNullable}} 
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mr-1"></tr>
        
        </table>
      </div>
    </mat-card-content>
    <mat-card-actions class="mca-1">
      <div class="btn-1">
        <button mat-raised-button [disabled]="isEditDisabled" (click)="onEdit()">Edit</button>
        <button mat-raised-button style="margin-left: 2em;" (click)="onDelete()">Delete</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>