p {
    font-size: large;
    // font-weight: bold;
    color: cornflowerblue;
}

.mc-1 {
    height: 90%;
    margin: 3em;
    overflow: hidden;
}

.mcc-1 {
    // overflow-y: scroll;
}

.mcb-1 {
    margin-top: 20px;
    position: absolute;
}

.mcb-2 {
    margin-right: 3em;
}

.mch-1 {
    width: 45%;
    position: relative;
    // display: flex;
    // flex-direction: row;
}

.demo-table {
    width: 100%;

    p {

    }
}

.mat-card.scrollable-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  
    > .mat-card-title-group {
      display: block;
    }
  
    > .mat-card-content {
      overflow-y: auto;
    }

    height: 700px;
    justify-content: space-between;
  }