p {
    font-size: large;
    // font-weight: bold;
    color: cornflowerblue;
}

.mch-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mc-1 {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin: 3em;
    overflow: hidden;
}

.mcc-1 {
    // overflow-y: scroll;
    height: 650px;
}

.mcb-1 {
    margin-top: 20px;
    position: absolute;
}

.mcb-2 {
    margin-right: 3em;
}

/* .mch-1 {
    width: 45%;
    position: relative;
    // display: flex;
    // flex-direction: row;
} */

.mca-1 {
    position: absolute;
    bottom: 2em;
    left: 1.5em;
    width: 100%;
}

.mpag-1 {
    position: absolute;
    bottom: 6em;
}

.mr-1:hover {
    background-color: #303030;
}

.demo-table {
    width: 100%;
}

.mat-card.scrollable-content {
   /*  overflow: hidden; */
    display: flex;
    flex-direction: column;
  
    > .mat-card-title-group {
      display: block;
    }
  
    > .mat-card-content {
      overflow-y: auto;
    }

    
    justify-content: space-between;
  }

  .tab-div1 {
    height: 600px;
    width: 675px;
    max-width: 100%;
    overflow: auto;
  }

  .btn-1 {
    // position: absolute;
    // bottom: 5px;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #383838;
    border-radius: 5px;
    width: 95%;
  
    button {
      margin: 10px;
      width: 7em;
    }
  }

  .my-tooltip {
    white-space: pre-line;
    font-size: small;
  }

  ::ng-deep .mat-tooltip  {
    white-space: pre-line !important;
    font-size: small;
  }