<mat-toolbar color="primary" class="mtb-1">
    <form [formGroup]="fileForm" class="form-1">
        <button mat-raised-button style="margin-right: 20px;"  (click)="onGenerateClick()">Generate</button>
        <button mat-raised-button (click)="onPreviewClick()">Preview</button>
        <mat-form-field appearance="outline" class="mff-1" (click)="onSelectionClick()">
            <mat-label>File to Download</mat-label>
            <mat-select #fileChoice formControlName="fileChoice" placeholder="Data Type" (selectionChange)="onSelectionChange(fileChoice.value)" >
                <mat-option value="module.ts">Module File</mat-option>
                <mat-option value="service.ts">Service File</mat-option>
                <mat-option value="controller.ts">Controller File</mat-option>
                <mat-option value="create-dto.ts">Create DTO File</mat-option>
                <mat-option value="update-dto.ts">Update DTO File</mat-option>
                <mat-option *ngIf="mongoSupport" value="schema.ts">Entity Schema (Mongo)</mat-option>
                <mat-option *ngIf="mongoSupport" value="resolver.ts">Resolver File (Mongo)</mat-option>
                <mat-option *ngIf="repoSupport" value="repository.ts">Repository File (Repo)</mat-option>
                <mat-option *ngIf="graphQLSupport" value="entity.ts">Object Schema (GraphQL)</mat-option>
                <mat-option *ngIf="graphQLSupport" value="input.ts">Input Type Schema (GraphQL)</mat-option>
                <mat-option *ngIf="graphQLSupport" value="args.ts">Argument Type Schema (GraphQL)</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-toolbar>
