<div class="macc-1" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="table-div">
    <h1 mat-dialog-title>Validator Selector</h1>
    <mat-tab-group fitInkBarToContent animationDuration="5ms">
      <mat-tab label="Common">
        <div class="table-div">
          <app-validator-table [tableData]="commonData"></app-validator-table>
        </div>
      </mat-tab>
      <mat-tab label="Type">
        <div class="table-div">
          <app-validator-table [tableData]="typeVals"></app-validator-table>
        </div>
      </mat-tab>
      <mat-tab label="Number">
        <div class="table-div">
          <app-validator-table [tableData]="numberVals"></app-validator-table>
        </div>
      </mat-tab>
      <mat-tab label="Date" class="mt-1">
        <div class="table-div">
          <app-validator-table [tableData]="dateVals"></app-validator-table>
        </div>
      </mat-tab>
      <mat-tab label="String-type">
        <div class="table-div">
          <app-validator-table [tableData]="stringTypeVals"></app-validator-table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="btn-1">
    <button mat-raised-button style="align-self: center;">Apply</button>
    <div style="width: 5em;"></div>
    <button mat-raised-button mat-dialog-close style="align-self: center;">Cancel</button>
  </div>
</div>




