
:host {
  display: block;
  border-radius: 8px;
  padding: 16px;
  max-width: 800px;
  height: 710px;
  overflow-y: hidden !important;
  position: relative;
 
}



// .table-div {
//   position: relative;
// //  overflow: hidden;
// }

.macc-1 {
  overflow: overlay;
  // position: relative;
} 

.mep-1 {
  height: inherit;
  width: max-content;
}

.mt-1 {
  div {
    position: relative;
  }
}

.val-table {
  width: 100%;
}

.table-div {
  //position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
 /*  width: 15em; */
}

.vwport {
  height: 500px;
}

.btn-1 {
  position: absolute;
  bottom: 5px;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #383838;
  border-radius: 5px;
  width: 95%;

  button {
    margin: 10px;
  }
}

.custom-dialog-container .mat-dialog-container {
  overflow-y: hidden;
}

