.frm-lo {
  //   display: grid;
  //   grid-template-columns: 30% 70%;        /* one column  */
  //   grid-template-rows: 100%;    /* three rows  */
  //   grid-template-areas: "a" "b";
  //   grid-gap: 5px;
  //   height:100%;
  //  /*  width: 100em; */
  //   justify-items: stretch;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
   
}

.mch-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // margin: 0 30px 5px 0
}

.mff-1 {
  width: 250px;;

}

.area-a {
  min-width: 25em;
}

.area-b {
   /*  outline: 2px solid gray; */
   min-width: 25em;
}

.area-c {
  /*  outline: 2px solid gray; */
  min-width: 50em;
}

.mc-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em;
    // height: 30em;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 50%;
  }
  
  .example-full-width {
    width: 75%;
  }

 /*  button {
    width: 7em;
  } */

  .form-1 {
    display: flex;
    flex-direction: column;
  }

  .custom-dialog-container {
    // height: 100%;
    position: relative;
  }

  ::ng-deep .custom-dialog-container .mat-dialog-container {
    overflow-y: hidden;
  }

  .val-list {
    margin-top: 5px;
    margin-bottom: 1em;
    height: 8em;
    outline: 1px solid white;
    border-radius: 5px;
    overflow: auto;
    max-width: 265px;
   
    p {
      font-size: small;
      margin: 0px 0 0 1em;
      white-space: nowrap

  
    }
  }

  .mcc-1 {
    width: 265px;
  }

  .btn-1 {
  // position: absolute;
  // bottom: 5px;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #383838;
  border-radius: 5px;
  /* width: 95%; */

  button {
    margin: 10px;
    width: 7em;
  }
}