<div class="frm-lo">
  <div class="area-a">
    <mat-card class="mc-1">
      <mat-card-header class="mch-1">
        <mat-card-title >Module Info</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="dataForm">
          <mat-form-field appearance="outline" class="mff-1">
            <mat-label>Data Class Name</mat-label>
            <input #classNameInput matInput type="text" formControlName="dataClassName" placeholder="someEntity"
              value="someEntity" (keyup)="onKeyUp(classNameInput.value)">
          </mat-form-field>       
          <mat-checkbox class="mod-frm-cb" formControlName="abstractRepositorySupport" (change)="onAbstractRepoCBChange()">Abstract Repositry Support</mat-checkbox>
          <mat-checkbox class="mod-frm-cb" formControlName="mongoDBSupport" (change)="onMongoCBChange()">Mongo Database Support</mat-checkbox>
          <mat-checkbox class="mod-frm-cb" formControlName="graphQLSupport" (change)="ongraphQLCBChange()">GraphQL Support</mat-checkbox>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="area-b">
    <mat-card class="mc-1">
      <div>
        <mat-card-header class="mch-1">
          <mat-card-title >Parameter Info</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mcc-1">
          <form [formGroup]="entityForm" class="form-1">
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Name</mat-label>
              <input #entityNameInput matInput type="text" formControlName="entityName" placeholder="someEntity"
                value="someEntity" (keyup)="onEntityNameKeyUp(entityNameInput.value)">
              <mat-error *ngIf="cbInputErrorforName">
                Please enter a valid entry
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Data Type</mat-label>
              <mat-select formControlName="entityDataType" placeholder="Data Type">
                <mat-option value="number">Number</mat-option>
                <mat-option value="string">String</mat-option>
                <mat-option value="boolean">Boolean</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-checkbox formControlName="entityNullable">Nullable?</mat-checkbox>
            <div style="margin: .5em 0 .5em 0;">
              <mat-divider [inset]="true"></mat-divider>
            </div>
            <mat-checkbox formControlName="validators" (click)="onValidatorClick()">Validators?</mat-checkbox>
          </form>
          <div class="val-list">
            <p *ngFor="let el of validators">{{el}}</p>
          </div>
        </mat-card-content>
       
        <mat-card-actions style="margin-bottom: 0;">
          <div class="btn-1">
            <button mat-raised-button [disabled]="cbAddButtonDisable" (click)="onAddClick()">Add</button>
            <button mat-raised-button style="margin-left: 2em;" (click)="onClearClick()">Clear</button>
          </div>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
  <div class="area-c">
    <app-entity-display [entityValue]="caEntityItem"></app-entity-display>
  </div>
</div>