@use "../../../scss/index" as idx;


.example-spacer {
    flex: 1 1 auto;
}

.tb-div1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: idx.$toolbar-height;
}

.menu {
    margin-right: 2em;
}

.div-sec-1 {
    margin-right: 5em;
}