<div>
  <mat-toolbar class="tb-div1" color="primary">
    <div class="div-sec-1">
      <button mat-icon-button class="menu" [matMenuTriggerFor]="menu1">
        <mat-menu #menu1="matMenu">
          <button mat-menu-item (click)="onCreateEntity()">Create Entities</button>
          <button mat-menu-item (click)="onSaveFile()">Download Entity File</button>
          <button mat-menu-item (click)="onResetList()">Reset Entity List</button>
        </mat-menu>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Entity Generator</span>
    </div>
    <div class="div-sec-2">
      <span style="width: 5em;">
        <h2>{{entityClassName}}</h2>
      </span>
      <!-- <span class="example-spacer"></span> -->
    </div>
    <div class="div-sec-3">
      <button mat-icon-button class="" [matMenuTriggerFor]="menu2">
        <mat-menu #menu2="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>

        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button class="menu" [matMenuTriggerFor]="menu3">
        <mat-menu #menu3="matMenu">
          <button mat-menu-item>Logout</button>
          <!-- <button mat-menu-item>Item 2</button> -->
        </mat-menu>
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>